/*https://www.paulirish.com/2012/box-sizing-border-box-ftw*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
/*******/

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: red;
}

a:active {
	color: purple;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}

svg {
	display: block;
	width: 100%;
	pointer-events: none;
}

button {
	border: none;
	background: none;
}
