body {
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;
}

a {
	font-size: var(--step--1);
}

.loud-voice {
	font-weight: 700;
}

h1 {
	font-weight: 600;
	font-size: var(--step-6);
	line-height: var(--space-2xl-3xl);
	letter-spacing: 0.075rem;
}

h3 {
	font-size: 3rem;
	letter-spacing: 0.0125rem;
	line-height: 3.625rem;
}

h4 {
	font-size: 1.375rem;
}

p {
	font-size: var(--step-0);
	line-height: 1.5125rem;
	letter-spacing: 0.0125rem;
}
