body {
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;
}

a {
	font-size: var(--step--1);
}

.loud-voice {
	font-weight: 700;
}

h1 {
	font-weight: 700;
	font-size: var(--step-4);
	line-height: var(--space-xl-2xl);
}

h2 {
	font-size: var(--step-3);
	line-height: var(--space-l-xl);
}

h3 {
	font-size: var(--step-2);
}

h4 {
	font-size: var(--step-1);
}

p {
	font-size: var(--step-0);
	line-height: var(--space-m);
	letter-spacing: 0.0125em;
	margin-top: var(--space-s);
}
